<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t('cookie_details.page_title')
         }
%>

<h1 class="govuk-heading-l">
  <%= t('cookie_details.page_heading') %>
</h1>

<p class="govuk-body">
<%= t('cookie_details.intro.p1') %>
</p>

<p class="govuk-body">
  <%= t('cookie_details.intro.p2') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('cookie_details.headings.1') %>
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.name') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.purpose') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.expires') %></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">nlhf_policy</th>
    <td class="govuk-table__cell"><%= t('cookie_details.table.td.stores_your_cookie_preferences') %></td>
    <td class="govuk-table__cell"><%= t('cookie_details.table.td.1_year') %></td>
  </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">
  <%= t('cookie_details.headings.2') %>
</h2>

<p class="govuk-body">
  <%= t('cookie_details.text.session_cookies_overview') %>
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.name') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.purpose') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.expires') %></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">_funding_frontend_ruby_session</th>
    <td class="govuk-table__cell"><%= t('cookie_details.table.td.stores_encrypted_session_data') %></td>
    <td class="govuk-table__cell"> <%= t('cookie_details.table.td.when_you_close_your_browser') %></td>
  </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">
  <%= t('cookie_details.headings.measuring_website_usage') %>
</h2>

<p class="govuk-body">
  <%= t('cookie_details.text.1') %>
</p>

<p class="govuk-body">
  <%= t('cookie_details.text.2') %>
</p>

<p class="govuk-body">
  <%= t('cookie_details.text.3') %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
  <%= t('cookie_details.li.1') %>
</li>
  <li><%= t('cookie_details.li.2') %></li>
  <li><%= t('cookie_details.li.3') %></li>
  <li><%= t('cookie_details.li.4') %></li>
  <ul>
   <li>
    <%= t('cookie_details.li.5') %>
   </li>
  </ul>
</li>
</ul>
<table class="govuk-table">
<tbody class="govuk-table__body">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.name') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.purpose') %></th>
    <th scope="col" class="govuk-table__header"><%= t('cookie_details.table.th.expires') %></th>
  </tr>
  </thead>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">_hjid</th>
  <td class="govuk-table__cell"><%= t('cookie_details.table.td.tells_us_if_youve_used_the_service_before') %></td>
  <td class="govuk-table__cell"><%= t('cookie_details.table.td.1_year') %></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">_hjIncludedInSample</th>
  <td class="govuk-table__cell"><%= t('cookie_details.table.td.tells_us_which_activity_is_related_to_an_individual_session') %></td>
  <td class="govuk-table__cell"><%= t('cookie_details.table.td.when_you_close_your_browser') %></td>
</tr>
</tbody>
</table>

<h2 class="govuk-heading-m"><%= t('cookie_details.headings.change_your_settings') %></h2>
<p class="govuk-body"><%= t('cookie_details.text.you_can') %> <%= link_to t('cookie_details.links.change_which_cookies_youre_happy_for_us_to_use'), help_cookies_path %>.</p>