<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: t('organisation.summary.page_title')
         }
%>

<h1 class="govuk-heading-xl">
  <%= t('organisation.summary.page_heading') %>
</h1>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.type') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%=
        @organisation.org_type.present? ?
          t("organisation.type.labels.#{@organisation.org_type}") : t('generic.not_answered')
      %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.type')}</span>".html_safe,
                :organisation_type,
                organisation_id: @organisation.id,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.company_number') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @organisation.company_number.present? ?
              @organisation.company_number : t('generic.not_answered') %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.company_number')}</span>".html_safe,
                :organisation_numbers,
                organisation_id: @organisation.id,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.charity_number') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @organisation.charity_number.present? ?
              @organisation.charity_number : t('generic.not_answered') %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.charity_number')}</span>".html_safe,
                :organisation_numbers,
                organisation_id: @organisation.id,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.name') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @organisation.name.present? ? @organisation.name : t('generic.not_answered') %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.name')}</span>".html_safe,
        postcode_path('organisation', @organisation.id),
        class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.location') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <% unless @organisation.line1.present? %>
        <%= t('generic.not_answered') %>
      <% else %>
        <% if @organisation.line1.present? %>
          <p class="govuk-body">
            <%= @organisation.line1 %>
          </p>
        <% end %>

        <% if @organisation.line2.present? %>
          <p class="govuk-body">
            <%= @organisation.line2 %>
          </p>
        <% end %>

        <% if @organisation.line3.present? %>
          <p class="govuk-body">
            <%= @organisation.line3 %>
          </p>
        <% end %>

        <% if @organisation.townCity.present? %>
          <p class="govuk-body">
            <%= @organisation.townCity %>
          </p>
        <% end %>

        <% if @organisation.county.present? %>
          <p class="govuk-body">
            <%= @organisation.county %>
          </p>
        <% end %>

        <% if @organisation.postcode.present? %>
          <p class="govuk-body">
            <%= @organisation.postcode %>
          </p>
        <% end %>
      <% end %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.location')}</span>".html_safe,
        postcode_path('organisation', @organisation.id),
        class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.mission') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <ul class="govuk-list">

        <% unless @organisation.mission.present? %>
          <%= t('generic.not_answered') %>
        <% else %>
          <% @organisation.mission.each do |mission| %>
            <li>
              <%= t("organisation.mission.labels.#{mission}") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.mission')}</span>".html_safe,
                :organisation_mission,
                organisation_id: @organisation.id,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('organisation.summary.list_keys.legal_signatories') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <ul class="govuk-list">
        <% unless @organisation.legal_signatories.present? %>
          <%= t('generic.not_answered') %>
        <% else %>
          <% @organisation.legal_signatories.each do |legal_signatory| %>
            <li>
              <%= legal_signatory.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('generic.change')}<span class='govuk-visually-hidden'>
        #{t('organisation.summary.change_links.legal_signatories')}</span>".html_safe,
                :organisation_signatories,
                organisation_id: @organisation.id,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>
</dl>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">
      <%= t('organisation.summary.warning.heading') %>
    </span>
    <%= t('organisation.summary.warning.text') %>
  </strong>
</div>

<%=
  render(
    ButtonComponent.new(
      href: start_an_application_url,
      element: "a",
      text: t("buttons.labels.default")
    )
  ) 
%>
