<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: I18n.t("dashboard.page_title")
         }
%>

<% if Flipper.enabled?(:covid_banner_enabled) %>
  <div class="nlhf-banner">

    <svg class="nlhf-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

    <div class="nlhf-banner__message">

      <h2 class="govuk-heading-m">
        <%= t('covid_banner.heading') %>
      </h2>

      <p class="govuk-body">
        <%= t('covid_banner.content_1') %>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-3">
        <%= 
          t(
            'covid_banner.content_2_html',
            href:
              link_to(
                t('covid_banner.content_2_href'),
                'https://www.heritagefund.org.uk/news/coronavirus-update',
              )
          )
        %>
      </p>

    </div>

  </div>
<% end %>

<%= render 'dashboard/funding_applications' %>

<%= render 'dashboard/pa_project_enquiries' %>

<%= render 'dashboard/pa_expressions_of_interest' %>
