<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.payment_details,
             page_title: t('payment_confirm_details.page_title')
         }
%>

<noscript><% no_js = true %></noscript>

<div id="summary-errors"></div>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @funding_application.payment_details,
             first_form_element: :payment_details_evidence_file
         } if @funding_application.payment_details.errors.any?
%>

<h1 class="govuk-heading-xl">
  <%= t('payment_confirm_details.page_heading') %>
</h1>

<p class="govuk-body">
  <%= t('payment_confirm_details.confirm_details_are_correct') %>
</p>

<p class="govuk-body">
  <%= t('payment_confirm_details.bank_statements') %>
</p>

<h2 class="govuk-heading-l">
  <%= t('payment_confirm_details.page_sub_heading') %>
</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row"  id="name-row">
    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.name_on_account') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_account_name %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('payment_confirm_details.name_on_account')}</span>".html_safe,
                :funding_application_payment_request_bank_details,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row" id="sort-code-row">
    <dt class="govuk-summary-list__key">
      <%= t('generic.sort_code') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_sort_code %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_payment_request_bank_details,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row" id="account-number-row">
    <dt class="govuk-summary-list__key">
      <%= t('generic.account_number') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_account_number %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.account_number')}</span>".html_safe,
                :funding_application_payment_request_bank_details,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row" id="building-society-roll-number-row">
    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.building_society_roll_number') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_building_society_roll_number %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_payment_request_bank_details,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row" id="payment-reference-row">
    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.payment_reference') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_payment_reference %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_payment_request_bank_details,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>
</dl>

<%=
  form_with model: @funding_application.payment_details,
            url: :funding_application_payment_request_confirm_bank_details,
            method: :put,
            remote: no_js ? false : true do |f|
%>

  <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">
    <fieldset class="govuk-fieldset">

    <div class="govuk-form-group <%= "govuk-form-group--error" if @funding_application.payment_details.errors.any? %>" id="evidence_file-form-group" data-form-group="file">

      <%=
        render partial: "partials/form_group_errors",
                locals: {
                    form_object: @funding_application.payment_details
                } if @funding_application.payment_details.errors.any?
      %>

      <div class="govuk-form-group">

        <h2 class="govuk-label-wrapper">
          <%=
            f.label :evidence_file,
                    t('payment_confirm_details.evidence_file_label'),
                    class: "govuk-label govuk-label--m nlhf-content-hightlight__title"
          %>
        </h2>

        <div id="evidence_file-errors"></div>

        <%=
          f.file_field :evidence_file,
                      multiple: false,
                      direct_upload: true,
                      class: "govuk-file-upload #{"govuk-file-upload--error" if @funding_application.payment_details.errors.any?}",
                      'data-input-identifier': 'file',
                      'data-attribute': :evidence_file,
                      'data-model': :funding_application,
                      'autocomplete' => 'off'
        %>

      </div>

      <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
          for the reasoning behind this workaround %>
      <input type="hidden" name="ieworkaround">

      <div class="govuk-form-group">

        <%=
          render(ButtonComponent.new(
              text: t('payment_confirm_details.buttons.add_evidence.text'),
              classes: "govuk-button--secondary",
              ))
        %>
      
      </div>

    </div>

    <% unless @funding_application.payment_details.evidence_file.attached? %>

      <p class="govuk-body">
        <%= t('payment_confirm_details.no_evidence_uploaded') %>
      </p>

    <% else %>

    <table class="govuk-table">

      <thead class="govuk-table__head">

        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header">
            <%= I18n.t("payment_confirm_details.evidence_file") %>
          </th>

        </tr>

      </thead>

      <tbody class="govuk-table__body">

        <tr>

          <td>
            <%= link_to(@funding_application.payment_details.evidence_file.blob.filename,
                        rails_blob_path(@funding_application.payment_details.evidence_file,
                                        disposition: "attachment"))
            %>
          </td>

        </tr>

      </tbody>

    </table>

    <% end %>

  </fieldset>
  </div>

<% end %>

<div class="govuk-form-group">

  <%=
    form_with model: @funding_application.payment_details,
              url: :funding_application_payment_request_confirm_bank_details_submitted,
              method: :put,
              remote: no_js ? false : true do |f|
  %>

    <%=
      render(
        ButtonComponent.new(
            element: "input"
        )
      )
    %>

  <% end %>

</div>
