<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: "Select an address"
         }
%>

<fieldset class="govuk-fieldset">

<% if @type == "organisation" || @type == "project" %>
  <div class="govuk-caption-xl" aria-label="Heading">About your <%= @type %></div>
<% else %>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-xl">Add your details</span>
      <label for="address">
        Select an address
      </label>
    </h1>
  </legend>

<% end %>

<% if @type == "organisation" || @type == "project" %>
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="address">
      Select an address
    </label>
  </h1>
<% end %>

<% if @type == "organisation" %>
  <p class="govuk-body" aria-label="information">Your organisation must be based in the UK</p>
<% end %>

<%= form_with(url: address_details_path, method: :put, local: true) do |p| %>

  <%= select_tag "address", options_for_select(@response_array.map { |p| result_formatter(p) }) , class: 'govuk-select' %>

  <%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>

<% end %>
</fieldset>