<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_expression_of_interest,
      page_title: t('pa_expression_of_interest.working_title.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @pre_application.pa_expression_of_interest,
    first_form_element: :pa_expression_of_interest_working_title
} if @pre_application.pa_expression_of_interest.errors.any? %>

<%=
  form_for @pre_application.pa_expression_of_interest,
  url: :pre_application_expression_of_interest_do_you_have_a_working_title,
  method: :put do |f| 
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @pre_application.pa_expression_of_interest.errors[:working_title].any? %>">

    <h1 class="govuk-label-wrapper">

      <%= 
        f.label :working_title,
        t('pa_expression_of_interest.working_title.page_heading'),
        class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
      %>

    </h1>

    <div id="working_title-hint" class="govuk-hint">
      <%= t('pa_expression_of_interest.working_title.page_hint') %>
    </div>

    <%=
      render partial: "partials/form_input_errors",
               locals: {
                 form_object: @pre_application.pa_expression_of_interest,
                 input_field_id: :working_title
                } if @pre_application.pa_expression_of_interest.errors[:working_title].any?
    %>

    <%=
      f.text_field :working_title,
                  class: "govuk-textarea " \
                          "#{'govuk-textarea--error' if
                      @pre_application.pa_expression_of_interest.errors[:working_title].any?}",
                  "aria-describedby" => "working_title-hint",
                  "autocomplete" => "off"
    %>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        element: "button"
      )
    ) 
  %>

<% end %>
