<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_project_enquiry,
             page_title: "Check your answers"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @pre_application.pa_project_enquiry
         } if @pre_application.pa_project_enquiry.errors.any?
%>

<h1 class="govuk-heading-xl">
  <%= t('views.funding_application.gp_project.check_your_answers.page_title') %>
</h1>

<dl class="govuk-summary-list">

  <%= render 'pre_application/project_enquiry/check_answers/previous_contact' %> 
  <%= render 'pre_application/project_enquiry/check_answers/project_reasons' %> 
  <%= render 'pre_application/project_enquiry/check_answers/what_project_does' %> 
  <%= render 'pre_application/project_enquiry/check_answers/working_title' %> 
  <%= render 'pre_application/project_enquiry/check_answers/heritage_focus' %> 
  <%= render 'pre_application/project_enquiry/check_answers/programme_outcomes' %> 
  <%= render 'pre_application/project_enquiry/check_answers/project_participants' %>
  <%= render 'pre_application/project_enquiry/check_answers/project_timescales' %>
  <%= render 'pre_application/project_enquiry/check_answers/project_likely_cost' %>
  <%= render 'pre_application/project_enquiry/check_answers/potential_funding_amount' %>

</dl>

<%=
  form_with model: @pre_application.pa_project_enquiry,
            url: :pre_application_project_enquiry_check_your_answers,
            method: :put,
            local: true do |f|
%>

  <%=
    render(
        ButtonComponent.new(
            element: "input",
            text: t('pa_project_enquiry.check_answers.buttons.submit'),
            attributes: [
                {
                    attribute: "aria-label",
                    value: "Submit Project Enquiry Form button"
                },
                {
                    attribute: ("disabled" unless Flipper.enabled?(:project_enquiries_enabled)),
                    value: ("disabled" unless Flipper.enabled?(:project_enquiries_enabled))
                }
            ]
        )
    )
  %>

<% end %>
