<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_expression_of_interest,
      page_title: t('pa_expression_of_interest.heritage_focus.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @pre_application.pa_expression_of_interest,
    first_form_element: :pa_expression_of_interest_heritage_focus
} if @pre_application.pa_expression_of_interest.errors.any? %>

<%=
  form_for @pre_application.pa_expression_of_interest,
  url: :pre_application_expression_of_interest_heritage_focus,
  method: :put do |f| 
%>

  <div class="govuk-character-count" data-module="govuk-character-count"
        data-maxwords="100">

    <div class="govuk-form-group <%= "govuk-form-group--error" if
      @pre_application.pa_expression_of_interest.errors[:heritage_focus].any? %>">

      <h1 class="govuk-label-wrapper">

        <%= 
          f.label :heritage_focus,
          t('pa_expression_of_interest.heritage_focus.page_heading'),
          class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
        %>

      </h1>

      <div id="heritage_focus-hint" class="govuk-hint">
        <%= t('pa_expression_of_interest.heritage_focus.page_hint') %>
      </div>

      <%=
        render partial: "partials/form_input_errors",
                locals: {
                  form_object: @pre_application.pa_expression_of_interest,
                  input_field_id: :heritage_focus
                  } if @pre_application.pa_expression_of_interest.errors[:heritage_focus].any?
      %>

      <%=
        f.text_area :heritage_focus,
                    rows: 10,
                    class: "govuk-textarea govuk-js-character-count" \
                            "#{' govuk-textarea--error' if
                        @pre_application.pa_expression_of_interest.errors[:heritage_focus].any?}",
                    "aria-describedby" => "heritage_focus-hint pa_expression_of_interest_heritage_focus-info"
      %>

      <div id="pa_expression_of_interest_heritage_focus-info"
            class="govuk-hint govuk-character-count__message"
            aria-live="polite">
        <%= t('generic.word_count', max_words: 100) %>
      </div>

    </div>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        element: "button"
      )
    ) 
  %>

<% end %>
