<%=
  render partial: "partials/page_title",
         locals: {
             model_object: current_user,
             page_title: t('details.page_title')
         }
%>

<%= 
  render partial: "partials/summary_errors",
  locals: {
    form_object: current_user,
    first_form_element: :user_name
  } if current_user.errors.any? 
%>

<h1 class="govuk-heading-xl">

  <span class="govuk-caption-xl">
    <%= t('details.page_heading_caption') %>
  </span>

  <%= t('details.page_heading') %>

</h1>

<%= 
  form_with model: current_user,
  url: user_details_path,
  method: :put,
  local: true do |f| 
%>

  <fieldset class="govuk-fieldset">

    <div class="govuk-form-group <%= "#{'govuk-form-group--error' if 
      current_user.errors[:name].any?}" %>">

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                 form_object: current_user,
                 input_field_id: :name
                } if current_user.errors[:name].any? 
      %>

      <%=
        f.label :name,
        t('details.label_name'),
        class: "govuk-label"
      %>

      <%= 
        f.text_field :name,
        class:"govuk-input #{'govuk-input--error' if
          current_user.errors[:name].any?}",
        "autocomplete" => "name",
        "spellcheck" => "false"
      %>

    </div>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
      current_user.errors[:phone_number].any?}" %>">

      <%= 
        render partial: "partials/form_input_errors",
               locals: {
                 form_object: current_user,
                 input_field_id: :phone_number
               } if current_user.errors[:phone_number].any?
      %>

      <%= 
        f.label :phone_number,
        t('details.label_phone_number'),
        class: "govuk-label" 
      %>

      <%= 
        f.text_field :phone_number,
        class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if
          current_user.errors[:phone_number].any?}",
        "autocomplete" => "tel"
      %>

    </div>

    <div
      class="govuk-form-group <%= "govuk-form-group--error" if
        current_user.errors.attribute_names.find {|k| "dob".in? k.to_s or "date_of_birth".in? k.to_s} %>"
      id="user_date_of_birth">

      <% current_user.errors.each do |error| %>

        <% if "dob".in? error.attribute.to_s or "date_of_birth".in? error.attribute.to_s %>

            <span id="user[<%= error.attribute %>]-error" class="govuk-error-message">

              <span class="govuk-visually-hidden">
                <%= t('details.error') %>
              </span> <%= error.message %>
              
            </span>

        <% end %>

      <% end %>

      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            <%= t('details.label_dob') %>
          </h1>
        </legend>

        <span id="dob-hint" class="govuk-hint">
          <%= t('details.label_dob_hint') %>
        </span>

        <div class="govuk-date-input" id="start-date">

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= 
                f.label :dob_day,
                t('details.label_day'),
                class: "govuk-label govuk-date-input__label" 
              %>

              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_day,
                  input_width: 2,
                  date_type: "day"
              } %>

            </div>

          </div>

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= 
                f.label :dob_month,
                t('details.label_month'),
                class: "govuk-label govuk-date-input__label" 
              %>

              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_month,
                  input_width: 2,
                  date_type: "month"
              } %>

            </div>

          </div>

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= 
                f.label :dob_year,
                t('details.label_year'),
                class: "govuk-label govuk-date-input__label" 
              %>

              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_year,
                  input_width: 4,
                  date_type: "year"
              } %>

            </div>

          </div>

        </div>

      </fieldset>

    </div>

    <div class="govuk-character-count" data-module="govuk-character-count"
        data-maxwords="50">

      <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
        current_user.errors[:communication_needs].any?}" %>">

        <%=
          f.label :communication_needs,
          t('details.label_communication_needs'),
          class: "govuk-label"
        %>

        <%=
          render partial: "partials/form_input_errors",
                locals: {
                  form_object: current_user,
                  input_field_id: :communication_needs
                  } if current_user.errors[:communication_needs].any?
        %>

        <%=
          f.text_area :communication_needs,
          rows: 5,
          class:"govuk-textarea govuk-js-character-count#{' govuk-textarea--error' if
            current_user.errors[:communication_needs].any?}",
          "aria-describedby" => "user_communication_needs-info"
        %>

        <div id="user_communication_needs-info"
              class="govuk-hint govuk-character-count__message"
              aria-live="polite">
          <%= t('generic.word_count', max_words: 50) %>
        </div>

      </div>

    </div>

    <div class="govuk-form-group <%= "govuk-form-group--error" if current_user.errors[:language_preference].any? %>">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">
            <%= t('details.label_language_preference') %>
          </h2>
        </legend>      

        <%=
          render partial: "partials/form_input_errors",
                locals: {
                  form_object: current_user,
                  input_field_id: :language_preference
                  } if current_user.errors[:language_preference].any?
        %>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <%= f.radio_button :language_preference, "english", class: "govuk-radios__input" %>
            <%= f.label :language_preference_english, "English", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :language_preference, "welsh", class: "govuk-radios__input" %>
            <%= f.label :language_preference_welsh, "Welsh", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :language_preference, "both", class: "govuk-radios__input" %>
            <%= f.label :language_preference_both, "Both", class: "govuk-label govuk-radios__label" %>
          </div>

        </div>

      </fieldset>

    </div>

  </fieldset>

  <div class="govuk-inset-text govuk-!-margin-top-0">

    <p class="govuk-body-s">

      <%= t('details.fair_processing_1') %>

    </p>

    <p class="govuk-body-s">

      <%= 
        t(
          'details.fair_processing_2_html',
          href:
            mail_to(
              'fair.processing@heritagefund.org.uk',
              t('details.fair_processing_2_href')
            )
        ) 
      %>

    </p>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        text: t('buttons.labels.default')
      )
    )
  %>

<% end %>