<%=
  render partial: "partials/page_title",
         locals: {
            model_object: nil,
            page_title: 'Review your project spend'
         }
%>

<h1 class="govuk-heading-xl">
  Review your project spend
</h1>

<p class="govuk-body">
  Here is what we know about your spending so far, compared to your agreed project budget.
</p>

<p class="govuk-body">
  To request another payment, please add details of project spend since your last payment.
</p>

<table class="govuk-table">

  <caption class="govuk-table__caption">

    <h2 class="govuk-heading-m">
      Summary of total grant spend
    </h2>

  </caption>

  <thead class="govuk-table__head">

    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
        Type of spend
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Agreed project budget
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Spend so far
      </th>

    </tr>

    <% @agreed_project_costs.each do |pc| %>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell">
          <%= pc[:Cost_heading__c] %>
        </td>

        <td class="govuk-table__cell govuk-table__cell--numeric">

          <%=
            number_to_currency(
              pc[:expr0],
              precision: 2,
              unit: '£'
            )
          %>

        </td>

        <td class="govuk-table__cell govuk-table__cell--numeric">
          &pound;0
        </td>

      </tr>

    <% end %>

    <tr class="govuk-table__row">

      <th scope="row" class="govuk-table__header govuk-table__header--numeric">

        Totals

      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">

        <%=
          number_to_currency(
            @agreed_project_costs_total,
            precision: 2,
            unit: '£')
        %>

      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">

        &pound;0

      </td>

    </tr>

  </thead>

</table>

<%=
  render(
    ButtonComponent.new(
        element: 'a',
        href: funding_application_payment_request_tell_us_what_you_have_spent_url,
        text: 'Add project spend'
    )
  )
%>

