<%=
  render(
    partial: "partials/page_title",
    locals: {
      model_object: @organisation,
      page_title: t('organisation.signatories.page_title')
    }
  )
%>

<% if @organisation.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('generic.there_is_a_problem') %>
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @organisation.legal_signatories.each_with_index do |ls, index| %>
          <% ls.errors.each do |error| %>
            <li>
              <a href='#organisation_legal_signatories_attributes_<%= index %>_<%= error.attribute %>'>
                <%= error.message %>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
  <%= t('organisation.signatories.page_heading') %>
</h1>

<p class="govuk-body" id="legal-signatory-1-fieldset-hint">
  <%= t('organisation.signatories.page_hint') %>
</p>

<p class="govuk-body govuk-!-margin-bottom-7">
  <%=
    t(
      'organisation.signatories.expected_amount_html',
      href: link_to(
        t('organisation.signatories.expected_amount_href'),
        'https://www.heritagefund.org.uk/about/contact-us'
      )
    )
  %>
</p>

<%=
  form_with model: @organisation,
  url: :organisation_signatories,
  method: :put,
  local: true do |f|
%>

  <%=
    render(
      partial: 'partials/organisation/signatories_question',
      locals: {
        model_object: @organisation,
        form_object: f
      }
    )
  %>

  <%= render(ButtonComponent.new(element: 'input')) %>

<% end %>
