<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.project,
             page_title: t('application.grant_request.page_title')
         }
%>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">
    <%= t('views.funding_application.common.about_your_project') %>
  </span>
  <%= t('application.grant_request.page_heading') %>
</h1>

<% unless @grant_request_is_valid %>
  <div class="nlhf-panel nlhf-alert nlhf-alert--error nlhf-alert--slim govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m">
      <%= t('generic.we_have_found_a_problem') %>
    </h2>

    <p class="govuk-body govuk-font-size-19">

      <%# Show this message if there are no project costs or cash contributions %>
      <% if @final_grant_amount == 0 %>

        <%= t('application.grant_request.text.5') %>

      <% else %>

        <%# show this message if grant request is a negative number (not greater than the amount being received in contributions)  %>
        <% unless @costs_greater_than_contributions %>
          <%= t('application.grant_request.text.6') %>
          <%= "#{number_to_currency(@final_grant_amount.abs, strip_insignificant_zeros: true)}"  %>
          <%= t('application.grant_request.text.7') %>
        <% end %>

        <%# show this message if grant request is higher than the maximum value for this funding level  %>
        <% unless @grant_request_less_than_funding_band %>
          <%= t('application.grant_request.text.8') %>
        <% end %>
      <% end %>

    </p>

    <p class="govuk-body govuk-!-font-size-19">
      <%= t('application.grant_request.text.9') %>
    </p>
  </div>
<% else %>
  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
    <h2 class="govuk-panel__title govuk-!-margin-bottom-3">
      <%= number_to_currency(@final_grant_amount, strip_insignificant_zeros: true) %>
    </h2>
    <div class="govuk-panel__body">
      <%= t('application.grant_request.text.4') %>
    </div>
  </div>
<% end %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-6">
  <%= t('application.grant_request.headings.1') %>
</h2>

<div class="nlhf-calculation-breakdown">
  
  <div class="nlhf-calculation-breakdown__row">  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          <%= t('application.grant_request.headings.2') %>
        </h2>
        <p class="govuk-body">
          <%= t('application.grant_request.text.1') %>
        </p>
        <p class="govuk-body">
          <%=
            link_to(
              t('application.grant_request.links.1'),
              :funding_application_gp_project_costs
            )
          %>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-1 govuk-!-font-weight-bold nlhf-!-text-align-right--tablet">
          <%= number_to_currency(@total_project_cost, strip_insignificant_zeros: true) %>
        </p>
      </div>
    </div>
  </div>
  <!-- /.nlhf-calculation-breakdown__row -->

  <div class="nlhf-calculation-breakdown__row">  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          <%= t('application.grant_request.headings.3') %>
        </h2>
        <p class="govuk-body">
          <%= t('application.grant_request.text.2') %>
        </p>
        <p class="govuk-body">
          <%=
            link_to(
              t('application.grant_request.links.2'),
              :funding_application_gp_project_cash_contributions
            )
          %>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-1 govuk-!-font-weight-bold nlhf-!-text-align-right--tablet">
          <%= number_to_currency(@total_cash_contributions, strip_insignificant_zeros: true) %>
        </p>
      </div>
    </div>
  </div>
  <!-- /.nlhf-calculation-breakdown__row -->

  <% if (@final_grant_amount.to_i).positive? %>
  <div class="nlhf-calculation-breakdown__row">  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          <%= t('application.grant_request.headings.4') %>
        </h2>
        <p class="govuk-body">
          <%= t('application.grant_request.text.3') %>
        </p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <%= t('application.grant_request.links.3') %>
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="nlhf-calculation nlhf-calculation--subtraction govuk-!-font-size-27">
              <span class="nlhf-calculation__block">  
                <span class="nlhf-calculation__row">
                  <%= "#{number_to_currency(@total_project_cost, strip_insignificant_zeros: true)}" %>
                </span>
                <span class="nlhf-calculation__row">
                <span class="nlhf-calculation__symbol">-</span>
                <span class="nlhf-calculation__number"><%= "#{number_to_currency(@total_cash_contributions, strip_insignificant_zeros: true)}" %></span>
                </span>
                <span class="nlhf-calculation__total">
                  <span class="nlhf-calculation__symbol">=</span>
                  <%= "#{number_to_currency(@final_grant_amount, strip_insignificant_zeros: true)}" %>
                </span>
              </span>
            </p>
            <!-- /.nlhf-calculation nlhf-calculation--subtraction -->

          </div>
        </details>
              
      </div>
        <div class="govuk-grid-column-full">
          <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold nlhf-!-text-align-right--tablet">
            <%= "#{number_to_currency(@final_grant_amount, strip_insignificant_zeros: true)}" %>
          </p>
        </div>          
    </div>
  </div>
  <!-- /.nlhf-calculation-breakdown__row -->
  <% end %>

</div>
<!-- /.nlhf-calculation-breakdown -->

<% if @grant_request_is_valid %>
<p>
  <%=
    render(
        ButtonComponent.new(
            element: "a",
            href: funding_application_gp_project_non_cash_contributions_path
        )
    )
  %>
</p>

<% end %>
