<%=
  render(
    partial: "partials/page_title",
    locals: {
      model_object: @organisation,
      page_title: t('organisation.mission.page_title')
    }
  )
%>

<%=
  render(
    partial: "partials/summary_errors",
    locals: {
      form_object: @organisation,
      first_form_element: :organisation_mission_black_or_minority_ethnic_led
    }
  ) if @organisation.errors.any?
%>

<div class="govuk-caption-xl">
  <%= t('views.organisation.common.about_your_organisation') %>
</div>

<%=
  form_with model: @organisation,
  url: :pre_application_organisation_mission,
  method: :put,
  local: true do |f|
%>

  <%=
    render(
      partial: 'partials/organisation/mission_question',
      locals: {
        model_object: @organisation,
        form_object: f
      }
    )
  %>

  <%= render(ButtonComponent.new(element: 'input')) %>

<% end %>
