<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_project_enquiry,
      page_title: t('pa_project_enquiry.what_project_does.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @pre_application.pa_project_enquiry,
    first_form_element: :pa_project_enquiry_what_project_does
} if @pre_application.pa_project_enquiry.errors.any? %>

<%=
  form_for @pre_application.pa_project_enquiry,
  url: :pre_application_project_enquiry_what_will_the_project_do,
  method: :put do |f| 
%>

<div class="govuk-character-count" data-module="govuk-character-count"
      data-maxwords="200">

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @pre_application.pa_project_enquiry.errors[:what_project_does].any? %>">

    <h1 class="govuk-label-wrapper">

      <%= 
        f.label :what_project_does,
        t('pa_project_enquiry.what_project_does.page_heading'),
        class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
      %>

    </h1>

    <span id="what_project_does-hint" class="govuk-hint">
      <%= t('pa_project_enquiry.what_project_does.page_hint') %>
    </span>

    <%=
      render partial: "partials/form_input_errors",
               locals: {form_object: @pre_application.pa_project_enquiry,
                        input_field_id: :what_project_does} if 
                          @pre_application.pa_project_enquiry.errors[:what_project_does].any?
    %>

    <%=
      f.text_area :what_project_does,
                  rows: 10,
                  id: "pa_project_enquiry_what_project_does",
                  class: "govuk-textarea govuk-js-character-count" \
                          "#{' govuk-input--error' if
                        @pre_application.pa_project_enquiry.errors[:what_project_does].any?}",
                  "aria-describedby" => "what_project_does-hint pa_project_enquiry_what_project_does-info" 
    %>

    <span id="pa_project_enquiry_what_project_does-info"
          class="govuk-hint govuk-character-count__message"
          aria-live="polite">
      <%= t('generic.word_count', max_words: 200) %>
    </span>

  </div>
</div>

  <%= 
    render(
      ButtonComponent.new(
        element: "button"
      )
    ) 
  %>

<% end %>