<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: t('organisation.numbers.page_title')
         }
%>

<%=
  render partial: "partials/summary_errors", locals: {
      form_object: @organisation,
      first_form_element: :organisation_company_number
} if @organisation.errors.any?
%>

<h1 class="govuk-heading-xl">
  <%= t('organisation.numbers.page_heading') %>
</h1>

<%= form_with model: @organisation, url: :organisation_numbers, method: :put, local: true do |f|  %>

  <%=
    render(
      partial: 'partials/organisation/numbers_question',
      locals: {
        model_object: @organisation,
        form_object: f
      }
    )
  %>

  <%= render(ButtonComponent.new(element: 'input')) %>

<% end %>
