<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title: t('current_spend.page_title')
         }
%>

<h1 class="govuk-heading-xl">
  <%= t('current_spend.page_heading') %>
</h1>

<p class="govuk-body">
  <%= t('current_spend.page_hint') %> 
</p>

<h2 class="govuk-heading-l">
  <%= t('current_spend.project_spend_heading') %>
</h2>

<% unless @payment_request.spends.any? %>

  <p class="govuk-body">
    You have not added any items of project spend.
  </p>

<% else %>

  <table class="govuk-table nlhf-table nlhf-table--responsive-columns" role="table">
    <thead class="govuk-table__head nlhf-table__head">
      <tr class="govuk-table__row nlhf-table__row">
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          Things you have spent money on
        </th>
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          Date of spend
        </th>
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          Net amount
        </th>
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          <abbr title="Value added tax">VAT</abbr> amount
        </th>
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          Gross amount
        </th>
        <th scope="col" role="columnheader" class="govuk-table__header nlhf-table__header">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nlhf-table__body">

      <% @payment_request.spends.each do |s| %>

        <tr class="govuk-table__row nlhf-table__row">

          <td class="govuk-table__cell nlhf-table__cell nlhf-table__cell-stacked-until-desktop nlhf-table__header">
            <div class="nlhf-table__cell-data">
              <div class="nlhf-table__cell-data__item">
                <strong>Spend type</strong>
                <%= s.cost_type.name %>
              </div>
              <div class="nlhf-table__cell-data__item">
                <strong>Description</strong>
                <%= s.description %>
              </div>
              <div class="nlhf-table__cell-data__item">
                <strong>Evidence of spend</strong><br>
                      <%= 
                        link_to(
                          s.evidence_of_spend_file.blob.filename,
                          rails_blob_path(
                            s.evidence_of_spend_file,
                            disposition: "attachment"
                          ),
                          class: "govuk-link govuk-link--no-visited-state nlhf-table__cell__link"
                        )
                      %>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell nlhf-table__cell">

            <div class="nlhf-table__col-header" aria-hidden="true">
              Date of spend 
            </div>
            <div class="nlhf-table__cell-data">
              <%= s.date_of_spend.strftime('%d/%m/%Y') %>
            </div>
          </td>

          <td class="govuk-table__cell nlhf-table__cell">

            <div class="nlhf-table__col-header" aria-hidden="true">
              Net amount 
            </div>
            <div class="nlhf-table__cell-data">
              <%= number_to_currency(s.net_amount, precision: 2, unit: '£') %> 
            </div>

          </td>

          <td class="govuk-table__cell nlhf-table__cell">
            <div class="nlhf-table__col-header" aria-hidden="true">
              VAT Amount 
            </div>
            <div class="nlhf-table__cell-data">
              <%= number_to_currency(s.vat_amount, precision: 2, unit: '£') %>
            </div>
          </td>

          <td class="govuk-table__cell nlhf-table__cell">
            <div class="nlhf-table__col-header" aria-hidden="true">
              Gross amount 
            </div>
            <div class="nlhf-table__cell-data">
              <%= number_to_currency(s.gross_amount, precision: 2, unit: '£') %>
            </div>
          </td>

          <td class="govuk-table__cell nlhf-table__cell">
            <div class="nlhf-table__col-header" aria-hidden="true">
              Actions 
            </div>
            <ul class="nlhf-table__actions">
              <li class="nlhf-table__actions-item">
              <%=
                link_to(
                  'Edit',
                  funding_application_payment_request_edit_spend_item_path(spend_id: s.id),
                  class: 'govuk-link--no-visited-state'
                )
              %>
              </li>
              <li class="nlhf-table__actions-item">
                <%=
                  link_to(
                    'Delete',
                    funding_application_payment_request_delete_spend_item_path(spend_id: s.id),
                    class: "govuk-link govuk-link--no-visited-state"
                  )
                %>
                </li>
                </li>
            </ul>
          </td>

        </tr>

      <% end %>

    </tbody>

  </table>

<% end %>

<p class="govuk-body">
  <%= link_to(
        t('current_spend.add_spend'),
        funding_application_payment_request_add_an_item_of_spend_url,
        class: 'govuk-link--no-visited-state'
  )
  %>
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">
  If you have finished adding evidence of project spend
</p>

<%= form_tag(
    url: :funding_application_payment_request_tell_us_what_you_have_spent,
    method: :post,
    local: true
  ) do |f| 
%>

  <%=
    render(
      ButtonComponent.new(
          text: 'Continue to spending summary'
      )
    )
  %>

<% end %>
