<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_expression_of_interest,
             page_title: I18n.t("pa_expression_of_interest.submitted.title")
         }
%>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
  <h1 class="govuk-panel__title">
    <%= I18n.t("pa_expression_of_interest.submitted.heading") %>
  </h1>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
  <%= I18n.t("pa_expression_of_interest.submitted.sub_heading_1") %>
</h2>

<ul class="govuk-list govuk-list--number">

  <li>
    <%= I18n.t("pa_expression_of_interest.submitted.list_1_item_1") %>
  </li>

  <li>
    <%= I18n.t("pa_expression_of_interest.submitted.list_1_item_2") %>
  </li>

</ul>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
  <%= I18n.t("pa_expression_of_interest.submitted.sub_heading_2") %>
</h2>

<%=
  form_for current_user,
           url: :pre_application_expression_of_interest_submitted,
           method: :put do |f|
%>

  <% if flash[:user_preferences_success] %>

    <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">

      <div class="govuk-notification-banner__header">

        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          <%= t('generic.success') %>
        </h2>

      </div>

      <div class="govuk-notification-banner__content">

        <p class="govuk-notification-banner__heading">
          <%= t('pa_expression_of_interest.submitted.notifications.success') %>
        </p>

      </div>

    </div>

  <% end %>

  <div class="govuk-form-group <%= "govuk-form-group--error" if current_user.errors.any? %>">

    <div class="govuk-checkboxes">

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= I18n.t("pa_expression_of_interest.submitted.did_you_know_sub_heading_1") %>
      </h3>

      <p class="govuk-body">
        <%= I18n.t("pa_expression_of_interest.submitted.did_you_know_sub_description_1") %>
      </p>

      <div class="govuk-checkboxes__item">

        <%=
          f.check_box :agrees_to_contact,
                      {
                          id: :user_agrees_to_contact,
                          class: "govuk-checkboxes__input"
                      },
                      'true', 'false'
        %>

        <%=
          f.label :user_agrees_to_contact,
                  t('pa_expression_of_interest.submitted.labels.agrees_to_contact'),
                  class: "govuk-label govuk-checkboxes__label"
        %>

      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= I18n.t("pa_expression_of_interest.submitted.did_you_know_sub_heading_2") %>
      </h3>

      <p class="govuk-body">
        <%= I18n.t("pa_expression_of_interest.submitted.did_you_know_sub_description_2") %>
      </p>

      <div class="govuk-checkboxes__item">

        <%=
          f.check_box :agrees_to_user_research,
                      {
                          id: :user_agrees_to_user_research,
                          class: "govuk-checkboxes__input"
                      },
                      'true', 'false'
        %>

        <%=
          f.label :user_agrees_to_user_research,
                  t('pa_expression_of_interest.submitted.labels.agrees_to_user_research'),
                  class: "govuk-label govuk-checkboxes__label"
        %>

      </div>

    </div>

    <%=
      render(
          ButtonComponent.new(
              element: "input",
              text: t('pa_project_enquiry.submitted.buttons.send_preferences'),
              attributes: [
                {
                    attribute: "aria-label",
                    value: "Send preferences button"
                }
              ]
          )
      )
    %>

  </div>

<% end %>