<%
  content_for :page_title,
              flash[:errors].present? ? (t('generic.error') + ": " + t('report_a_problem.page_title')).html_safe : (t('report_a_problem.page_title')).html_safe
%>

<%=
  render partial: "partials/summary_errors_flash",
         locals: {
             first_form_element: :support_type_report_a_problem
         } if flash[:errors].present?
%>

<% if flash[:success] %>
  <div class="nlhf-panel nlhf-panel--border-wide nlhf-alert--success govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      <%= t('report_a_problem.text.your_message_was_sent_successfully') %>
    </h2>
  </div>
<% end %>

<%= form_tag :report_a_problem, local: true do %>

  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

        <h1 class="govuk-fieldset__heading">
          <%= t('report_a_problem.page_heading') %>
        </h1>

      </legend>

      <div class="govuk-inset-text">
        <%=
          t(
            "report_a_problem.text.service_status.html",
            href: link_to(
                    t("report_a_problem.text.service_status.text"),
                    "https://www.heritagefund.org.uk/service-status",
                    target: "_blank",
                    class: "govuk-link"
            )
          )
        %>
      </div>

      <div class="govuk-form-group <%= "govuk-form-group--error" if
                                           flash[:errors].present? && flash[:errors][:support_problem_message].present? %>">

        <%=
          render partial: "partials/form_input_errors_flash",
                 locals: {
                     input_field_id: :support_problem_message
                 } if flash[:errors].present? && flash[:errors][:support_problem_message].present?
        %>

        <%= label_tag :support_problem_message, t('report_a_problem.form.your_message'), class: "govuk-label" %>
        <%=
          text_area_tag :support_problem_message,
                        flash[:support_problem_message].present? ? flash[:support_problem_message] : nil,
                        rows: 10,
                        class: "govuk-textarea #{'govuk-textarea--error' if
                            flash[:errors].present? && flash[:errors][:support_problem_message].present?}"
        %>
      </div>

      <div class="govuk-form-group <%= "govuk-form-group--error" if
                                           flash[:errors].present? && flash[:errors][:support_problem_name].present? %>">

        <%=
          render partial: "partials/form_input_errors_flash",
                 locals: {
                     input_field_id: :support_problem_name
                 } if flash[:errors].present? && flash[:errors][:support_problem_name].present?
        %>

        <%= label_tag :support_problem_name, t('report_a_problem.form.your_name'), class: "govuk-label" %>
        <%=
          text_field_tag :support_problem_name,
                         flash[:support_problem_name].present? ? flash[:support_problem_name] : nil,
                         class: "govuk-input #{'govuk-input--error' if
                             flash[:errors].present? && flash[:errors][:support_problem_name].present?}"
        %>
      </div>

      <div class="govuk-form-group <%= "govuk-form-group--error" if
                                           flash[:errors].present? && flash[:errors][:support_problem_email].present? %>">

        <%=
          render partial: "partials/form_input_errors_flash",
                 locals: {
                     input_field_id: :support_problem_email
                 } if flash[:errors].present? && flash[:errors][:support_problem_email].present?
        %>

        <%= label_tag :support_problem_email, t('report_a_problem.form.your_email_address'), class: "govuk-label" %>
        <%=
          text_field_tag :support_problem_email,
                          flash[:support_problem_email].present? ? flash[:support_problem_email] : nil,
                          class: "govuk-input #{'govuk-input--error' if
                              flash[:errors].present? && flash[:errors][:support_problem_email].present?}"
        %>
      </div>

    </fieldset>

  </div>

  <%=
    submit_tag t('buttons.labels.send'),
               class: 'govuk-button',
               role: 'button',
               'data-module' => 'govuk-button'
  %>

<% end %>